<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome! - Go Test</title>

    <link rel="stylesheet" href="https://necolas.github.io/normalize.css/8.0.1/normalize.css">
    <link rel="stylesheet" href="/static/styles/main.css">
</head>
<body>

    <header>
        <h1>Welcome to Go API Test!</h1>
        <p>By n128</p>
    </header>

    <main role="main">
        <ul>
            <li>
                GET: <a href="/tasks">/tasks</a>
            </li>
        </ul>
    </main>

    <footer>
        <h2>Some links...</h2>
        <ul>
            <li>
                <a href="https://github.com/nicolito128/gin-apitest">GitHub Repository</a>
            </li>
        </ul>
    </footer>

</body>
</html>